<!DOCTYPE html>

<html>
    <title>About</title>
    <link rel="icon" href="/img/weather.webp">
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website is created by Ojas Raul. <br>This site uses data from weather-stake.com and mapbox.com APIs.</p>
            <img class="potrait" src="/img/me.jpeg">
        </div>
        
        {{>footer}}
    </body>
</html>